<a href="https://colab.research.google.com/github/cysorianoc/IBM_Data_Science/blob/main/Course_4_Week_3_CHEATSHEET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Cheat Sheet: Python Programming Fundamentals
---
 The following are some code lines to illustrate examples of the concepts seen in the course

In [55]:
# Using booleand including AND
marks = 90
attendance_percentage = 87
if marks >= 80 and attendance_percentage >= 85:
    print("qualify for honors")
else:
    print("Not qualified for honors")
# Output = qualify for honors

qualify for honors

In [67]:
# Class definition
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
# Methods
    def person_details(self):
      print('Name: ', self.name)
      print('Age:', self.age,' years')



# Here we use theelement using the parameters defined
Person1=Person('Mary',35)
# Here we apply the method defined
Person1.person_details()

Name:  Mary
Age: 35  years

In [66]:
# Define a function
def greet(name):
  print('Hello,', name)

# And here we call the function
greet('Mary')

Hello, Mary

In [62]:
# Equal in terms of boolean
5==5

True

In [64]:
# For loop: execute a block of code over a sequence of elements (list, range, string)
# So here we execute this code over a range of values
for num in range(1,10):
  print(num)

1
2
3
4
5
6
7
8
9

In [65]:
# Here we can use a for loop over a list
fruits=["apple", "banana", "orange", "grape", "kiwi"]
for fruit in fruits:
  print(fruit)

apple
banana
orange
grape
kiwi

In [68]:
# Greater than, less than that return boolean values: True or False
quantity=105
minimun=100
quantity<=minimun

False

In [71]:
# If statement: executes code block if the condition is True
temperature=int(input('Enter the current temperature: '))
if temperature>30:
  print('It is a hot day')

Enter the current temperature: 32
It is a hot day

In [72]:
# using if-elif-else: Executes the first code block if condition1 is `True`, otherwise checks condition2, and so on. If no condition is `True`, the else block is executed.

score=85
if score >=90:
  print('You got an A!')
elif score>=80:
  print('You got a B!')
else:
  print('You need to work harder')

You got a B!

In [73]:
# using if-else: Executes the first code block if the condition is `True`, otherwise the second block
age=22
if age>=18:
  print('You are an adult')
else:
  print('You are not an adult yet')

You are an adult

In [74]:
# Loop Controls: `break` exits the loop prematurely. `continue` skips the rest of the current iteration and moves to the next iteration.
# Example 1

for num in range(1,10):
  if num==5:
    break
  print(num)

1
2
3
4

In [75]:
# Example 2

for num in range(1,10):
  if num==5:
    continue
  print(num)

1
2
3
4
6
7
8
9

In [79]:
# range() funtion
range(5) # #generates a sequence of integers from 0 to 4.

range(0, 5)

In [80]:
range(2,10) # #generates a sequence of integers from 2 to 9

range(2, 10)

In [82]:
range(1,11,2) #generates odd integers from 1 to 9.

range(1, 11, 2)

In [84]:
# to retrieve the elements in the range we use a for loop
for i in range (1,11,2):
  print(i)

1
3
5
7
9

In [85]:
# Using return: `Return` is a keyword used to send a value back from a function to its caller.

def add(a,b):
  c=a+b
  return(c)

add(10,20)

30

In [88]:
# Handling exceptions using try and except: Tries to execute the code in the try block. If an exception of the specified type occurs, the code in the except block is executed.
# Example
try:
  numerator=10
  denominator=0
  result=numerator/denominator
  print(result)
except Exception as e:
  print(f"An error occurred: {e}")

An error occurred: division by zero

In [91]:
try:
  num=int(input('Enter a number: '))
except Exception as e:
  print(f"An error occurred: {e}")

Enter a number: A
An error occurred: invalid literal for int() with base 10: 'A'

In [97]:
# While loop: A `while` loop repeatedly executes a block of code as long as a specified condition remains `True`.
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [20]:
# Just a reminder about lists
# here we see that the list is declared by []
test_list=['A','B','C']
# now we can use the enumerate function to retrieve the index of each element
for index, letters in enumerate(test_list):  # here we declare two elements the index and the content inside the brackets of the list
  print(index,letters)

0 A
1 B
2 C

In [21]:
# Here we see how to access a certain element of the list
test_list[0]

'A'

In [22]:
# This is an example of list mutability, which basically means that we can modify them
test_list[0]='C'
test_list

['C', 'B', 'C']

In [25]:
# Now an example of tupples which are initialized by ()
test_tupple=('A','B','C') # a similar example with a tuple which is delimited by parenthesis ()
# a similar example for enumerating the elements in the tupple
for index,letters in enumerate (test_tupple):
  print(index,letters)

0 A
1 B
2 C

In [27]:
# here we access a particular element of the tupple
test_tupple[0]

'A'

In [ ]:
# if we run this line we will have an error as tupples as immutable
test_tupple[0]='C'

In [40]:
# another exmaple initializing a dictionary delimited by {}
dictionary={'A','B','H','B','R'}
for i,v in enumerate (dictionary):
  print(i,v)
 # note that repeated elements are not counted

0 A
1 B
2 H
3 R

In [105]:
# another exmaple initializing a dictionary delimited by {}
dictionary={'A':10,'B':20,'H':30,'B':50,'B':60}
dictionary.values()   # for trepeated keys it takes the last one

dict_values([10, 60, 30])

In [106]:
dictionary.keys()

dict_keys(['A', 'B', 'H'])

In [42]:
for i, x in enumerate(['A', 'B', 'C']):
    print(i, 2 * x)

0 AA
1 BB
2 CC

In [43]:
class Points(object):
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def print_point(self):
        print('x=', self.x, ' y=', self.y)


p2 = Points(1, 2)
p2.x = 'A'
p2.print_point()

x= A  y= 2

In [46]:
def delta(x):
    if x == 0:
        y = 1
    else:
        y = 0
    return y

delta(1)

0